<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hỏi Dân IT</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Hello Hỏi Dân IT with View Engine</h1>
    <h2>Message: <%= message %></h2>
    <img src="images/views/typescript.png">
</body>
</html>